aniso8601==9.0.1
blinker==1.8.2
Brotli==1.1.0
cachelib==0.9.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Compress==1.14
Flask-RESTful==0.3.10
gevent==24.2.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pluggy==1.4.0
pymongo==4.7.1
pytest==8.1.1
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.3
requests==2.31.0
six==1.16.0
terminaltables==3.1.10
urllib3==2.2.1
Werkzeug==3.0.3
zope.event==5.0
zope.interface==6.3
