aniso8601==9.0.1
blinker==1.8.2
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cramjam==2.9.0
defusedxml==0.7.1
dnspython==2.7.0
Flask==3.0.3
Flask-Compress==1.17
flask-cors==6.0.1
flask-orjson==2.0.0
Flask-RESTful==0.3.10
gevent==25.4.1
greenlet==3.2.0
gunicorn==23.0.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
orjson==3.10.18
packaging==24.1
pluggy==1.5.0
pymongo==4.15.0
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-snappy==0.7.3
pytz==2025.2
redis==6.4.0
requests==2.32.4
setuptools==78.1.1
six==1.16.0
terminaltables==3.1.10
urllib3==2.5.0
Werkzeug==3.1.1
zope.event==5.0
zope.interface==8.0
zstandard==0.23.0
