openapi: 3.0.0
info:
  title: Vulnerability Reporting Service
  version: "1.0.0"
  description: A web service for reporting and tracking vulnerabilities.
servers:
  - url: https://kevin.gtfkd.com
    description: KEV API server
paths:
  /kev/{cve_id}:
    get:
      summary: Get details of a specific KEV vulnerability
      description: Retrieves detailed information about a known exploited vulnerability (KEV) by its CVE ID.
      parameters:
        - in: path
          name: cve_id
          required: true
          schema:
            type: string
          description: The CVE ID of the KEV vulnerability to retrieve.
      responses:
        '200':
          description: Detailed information about the KEV vulnerability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityDetail'
        '404':
          description: The specified CVE ID was not found in the KEV database.
components:
  schemas:
    VulnerabilityDetail:
      type: object
      properties:
        _id:
          type: string
          example: "64ff427b1d7d25fc159ea969"
        cveID:
          type: string
          example: "CVE-2023-41064"
        dateAdded:
          type: string
          format: date
          example: "2023-09-11"
        dueDate:
          type: string
          format: date
          example: "2023-10-02"
        githubPocs:
          type: array
          items:
            type: string
          example: ["https://github.com/MrR0b0t19/vulnerabilidad-LibWebP-CVE-2023-41064"]
        notes:
          type: string
          example: "https://support.apple.com/en-us/HT213905, https://support.apple.com/en-us/HT213906"
        nvdData:
          type: array
          items:
            $ref: '#/components/schemas/NVDData'
        openThreatData:
          type: array
          items:
            $ref: '#/components/schemas/OpenThreatData'
        product:
          type: string
          example: "iOS, iPadOS, and macOS"
        requiredAction:
          type: string
          example: "Apply mitigations per vendor instructions or discontinue use of the product if mitigations are unavailable."
        shortDescription:
          type: string
          example: "Apple iOS, iPadOS, and macOS contain a buffer overflow vulnerability..."
        vendorProject:
          type: string
          example: "Apple"
        vulnerabilityName:
          type: string
          example: "Apple iOS, iPadOS, and macOS ImageIO Buffer Overflow Vulnerability"
    NVDData:
      type: object
      properties:
        attackComplexity:
          type: string
          example: "LOW"
        attackVector:
          type: string
          example: "LOCAL"
        baseScore:
          type: number
          example: 7.8
        baseSeverity:
          type: string
          example: "HIGH"
        exploitabilityScore:
          type: number
          example: 1.8
        nvdReferences:
          type: array
          items:
            $ref: '#/components/schemas/NVDReference'
        vulnStatus:
          type: string
          example: "Analyzed"
    NVDReference:
      type: object
      properties:
        source:
          type: string
          example: "product-security@apple.com"
        tags:
          type: array
          items:
            type: string
          example: ["Vendor Advisory"]
        url:
          type: string
          example: "https://support.apple.com/en-us/HT213905"
    OpenThreatData:
      type: object
      properties:
        adversaries:
          type: array
          items:
            type: string
        affectedIndustries:
          type: array
          items:
            type: string
        malwareFamiles:
          type: array
          items:
            type: string
