<!DOCTYPE html>
<html>
    <head>
        <title>KEVin Vulnerabilty API</title>
        <!-- Include Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Favicon Links -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    </head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the KEVin API</h1>
            <p class="lead">This is an API for accessing CISA's Known Exploited Vulnerabilities Catalog (KEV) and more.</p>
            <hr class="my-4">
            <p>You can use various endpoints to retrieve vulnerability information. Here are some examples:</p>
            <ul>
                <li><a href="/kev">/kev</a> - Get all Known Exploited Vulnerabilities</li>
                <li><a href="/kev?search=Microsoft">/kev?search=Microsoft</a> - Search KEV based on description</li>
                <li><a href="/kev/CVE-2023-1234">/kev/CVE-ID</a> - Fetch a KEV by CVE-ID</li>
                <li><a href="/kev/recent?days=7">/kev/recent?days=7</a> - Get new vulnerabilities added in the last 7 days (modifiable)</li>
                <li><a href="/kev?sort=severity&order=desc">/kev?sort=severity&order=desc/asc</a> - Sort all KEV by NVD baseScore (if it has one). You can even add &search= ;)</li>
                <li><a href="/vuln/CVE-2023-1234">/vuln/CVE-2023-1234</a> - Get all data on a CVE (CISA, MITRE, NVD)</li>
                <li><a href="/vuln/CVE-2023-1234/nvd">/vuln/CVE-2023-1234/nvd</a> - Get all NVD data on a CVE</li>
            </ul>
            <p><b>Limits:</b></p>
            <ul>
                <li>KEVin is currently set to allow one (1) request per second. A one (1) hour block is placed on IPs violating this limit.</li>
                <li>Edge cache is set to 3 hours. Updates may be delayed if CVE data is stuck in cache</li>
                <li>As of <i>29 August 2023</i>, search is limited to only KEV data</li>
            </ul>
            <p><b>Issues/Feature Requests:</b></p>
            <p>If you have any issues or feature requests, please feel free to submit them on our <a href="https://github.com/synfinner/KEVin/issues">GitHub repository</a>.</p>
            <hr class="my-4">
            A <a href="https://twitter.com/synfinner">Synfinner</a> project.
        </div>
    </div>
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
